<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joyin.cloud.dao.ModuleDao">

	<select id="findById" resultType="Module" parameterType="Integer">
		select dbid,moduleid,modulename,dbsource from sys_module where dbid=#{dbid};
	</select>
	<select id="findAll" resultType="Module">
		select dbid,moduleid,modulename,dbsource from sys_module;
	</select>
	<insert id="addModule" parameterType="Module">
		INSERT INTO sys_module(moduleid,modulename,dbsource) VALUES(#{moduleid},#{modulename},DATABASE());
	</insert>

</mapper>
 

